<!DOCTYPE html>
<html ng-app="sampleApp">
<head>
  <meta charset="utf-8">
  <title>JS Bin</title>
<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
<script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

<script src="http://code.jquery.com/jquery-1.11.1.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js"></script>
</head>
<body>
  <!--View-->
  <div ng-controller="mainCtrl">
    <label>Name:</label>
    <br>
    <input type="text" ng-model="model.firstName" placeholder="Enter firstName">
    <input type="text" ng-model="model.lastName" placeholder="Enter lastName">
    <br>
    <span>{{model.fullName()}}</span>
    <span
  </div>
    
<script type="text/javascript">
  
  //Model
    function myViewModel(){
      this.checked = false;
      
      
      this.firstName="";
      this.lastName="";
      this.fullName= function(){
        return this.firstName + " " + this.lastName;

      }
    }
  
  //Controller
  angular.module("sampleApp", []).controller("mainCtrl",function($scope){
    $scope.model = new myViewModel();
  });
</script>
</body>
</html>